<!DOCTYPE html>
<html
  xml:lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
  <head>
    <title>Hello World!</title>
  </head>
  <body>
    <h1 th:text="|Hello ${username} !|"></h1>
    <p th:text="|username: ${username}|"></p>
    <p th:text="|password: ${password}|"></p>
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Sign Out" />
    </form>
  </body>
</html>
